$breakpoint-phone: 360px;
$breakpoint-tablet: 499px;
$breakpoint-small: 768px;
$breakpoint-medium: 1023px;
$breakpoint-large: 1280px;


/* @media screen and (max-width: 360px);
@media screen and (min-width: 361px) and (max-width: 499px);
@media screen and (min-width: 500px) and (max-width: 768px);
@media screen and (min-width: 769px) and (max-width: 1023px);
@media screen and (min-width: 1024px);

примеры: 

@media screen and (max-width: $breakpoint-phone) {
    .header {
        display: none;
    }
}

@media screen and (min-width: #{$breakpoint-phone+1px}) and (max-width: $breakpoint-tablet) {
    .header {
        display: none;
    }
}

@media screen and (min-width: #{$breakpoint-tablet+1px}) and (max-width: $breakpoint-small) {
    .header {
        display: none;
    }
}

ну и так далее, если нужно будет меньше/больше лично кому-то пишите - добавим
подключать к своему scss  */