.explore {
  padding: 100px 150px;
}

.explore_rows {
  h2 {
    @include subtitle;
    margin-bottom: 99px;
  }
}

.explore_container {
  display: flex;
  justify-content: space-between;
}

.explore_container_left {
  //   outline: 1px solid rgb(17, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.explore_search {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    position: absolute;
    left: 32px;
  }

  input {
    width: 349px;
    height: 75px;
    border-radius: 10px;
    padding: 26px 32px;
    background-color: $color-lightgrey;
    outline: none;
    border: none;
    text-align: center;
  }
}

.explore_scroll {
  min-height: 694px;
  height: 694px;
  width: 394px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $color-primary-lightgreen $color-primary-darkgreen;
  // outline: 1px solid rgb(230, 22, 22);
}

.explore_categories_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 694px;
}

.explore_categories_li {
  list-style-type: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  color: $color-primary-darkgreen;
}

.explore_left_button {
  display: flex;
  justify-content: space-around;
  @include greenButton;
  width: 265px;
  padding: 32px 20px 32px 20px;
  img {
    margin-top: 3px;
  }
}

.explore_container_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 589px;
    height: 321px;
    &:hover {
      filter: grayscale(1);
    }
  }
}

.explore_top,
.explore_middle,
.explore_bottom {
  display: flex;
  justify-content: space-between;
}

.explore_opened {
  text-align: center;
  width: 589px;
  height: 321px;
  border-radius: 10px;
  background-color: $color-grey;
}

.explore_opened_h2 {
  font-family: PlayfairDisplay;
  font-weight: 400;
  font-size: 64px;
  line-height: 85.31px;
  color: $color-secondary-lightbeige;
}

.explore_right_button {
  @include greenButton;
  background: $color-secondary-lightblue;
  color: $color-primary-darkgreen;
  width: 150px;
  border-radius: 6px;
  padding: 14px 20px;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
}
