.footer {
  position: relative;
  padding: 100px 150px 32px 150px;
  background: $color-footer-background;
  color: $color-primary-darkgreen;
  font-family: OpenSans;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $color-secondary-lightbeige;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $color-secondary-lightbeige;
  }
}

// .footerContainer {
//     outline: 1px solid red;
// }

.footerRows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerCols {
  display: flex;
  justify-content: space-between;
}

.firstCol,
.oneCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.oneCol div {
  max-width: 176px;
  font-size: 18px;
  word-break: break-word;
}

.oneColHead {
  font-weight: bold;
}

.firstCol {
  min-width: 405px;
  justify-content: space-between;
}

.footerLogo {
  margin-left: -6px;
  margin-bottom: 21px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 286px;
  margin-bottom: 21px;
  a {
    cursor: pointer;
  }
}

.cols {
  display: flex;
}
