.special_package {
  padding: 100px 150px;
}

.special_rows {
  h2 {
    @include subtitle;
    margin-bottom: 103px;
  }
}

.special_cols {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.special_leftCol,
.special_rightCol,
.specialBlock {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
}

.rating_main_card {
  margin: 21px 0;
}

.rating_active_card {
  margin: 24px 0;
}

.rating_small_card {
  margin: 12px 0;
}

.rating_body {
  position: relative;
}

.rating_body::before {
  content: "★★★★★";
  color: $color-secondary-beige;
  display: block;
}

.rating_active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating_active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: $color-rating;
}

.rating_items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating_item {
  flex: 0 0 15%;
  height: 100%;
  opacity: 0;
}

.rating_value {
  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 10px;
}

.special_rightCol {
  width: 697px;

}

.specialProduct {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: $color-primary-darkgreen;
}

.specialImageContainer {
  position: relative;
  max-width: 822px;
}

.specialZoomOut {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.specialPrice {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: $color-primary-darkgreen;
}

.special_description {
  summary {
    cursor: pointer;
    display: block;
    margin: 25px 0 40px 0;
  }

  details[open] summary {
    .sign {
      transform: rotate(180deg);
    }
  }
}

.special_description__header {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: $color-primary-darkgreen;
  margin: 0;
}

.special_description__text,
.special_description__extra_text {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: $color-primary-darkgreen;
  word-wrap: break-word;
}

.special_description__button {
  font-family: OpenSans;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.button_small {
  font-family: OpenSans;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $color-primary-darkgreen;
}

.special_product__card {
  display: flex;
  margin-bottom: 32px;
}

.special_product__image {
  margin-right: 16px;
}

.special_product_card__description,
.special_product_card__description__active {
  min-width: 393px;
  border-radius: 10px;
  padding: 20px;
}

.special_product_card__description__active {
  background-color: $color-secondary-mint;
}

.special_product_card__name {
  display: flex;
  justify-content: space-between;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

  span {
    font-weight: 700;
    line-height: 25px;
  }
}

.special_product_card__link {
  color: $color-primary-darkgreen;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}
