.testimonials {
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials_header {
  text-align: center;
  margin-bottom: 107px;

  h2 {
    @include subtitle;
    margin-bottom: 35px;
  }

  h3 {
    color: $color-primary-darkgreen;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.19px;
  }
}

.testimonialsBlock {
  display: flex;
  width: 1620px;
  margin: 100px;
}

.testimonialsText {
  color: $color-primary-darkgreen;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 36px;
  line-height: 49.03px;
  text-align: left;
  word-wrap: break-word;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
justify-content: space-around;
}

.testimonialsRewiew {
  padding-right: 100px;
}

.testimonialsPerson {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  margin-top: 65px;
}

.testimonialsPosition {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.13px;
}

.testimonials_gallery {
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1620px;
  position: relative;
}

.testimonials_gallery_track {
  display: flex;
  width: fit-content;
}

.testimonials_gallery_arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  right: 0;
  top: 25%;
}

.testimonials_gallery_btnNext {
  background-color: $color-button-next;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  &:hover {
    background-color: $color-button-next-active;
  }

  &:active {
    background-color: $color-button-next-active;
  }

  &:focus {
    outline: none;
  }
}

.testimonials_gallery_btnPrev {
  background-color: $color-secondary-lightblue;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  &:hover {
    background-color: $color-button-prev-active;
  }

  &:active {
    background-color: $color-button-prev-active;
  }

  &:focus {
    outline: none;
  }
  img {
    transform: rotate(180deg);
  }
}

.testimonials_gallery_btnPrev.disabled,
.testimonials_gallery_btnNext.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.testimonials_img_container {
  position: relative;
}

.testimonials_quote {
  position: absolute;
  top: -70px;
  left: -80px;
}

.testimonials_img {
  border-radius: 20px;
  width: 421px;
}
