$color-primary-lightgreen: #70908B;
$color-primary-darkgreen: #07484A;
$color-secondary-mint: #CAF3E5;
$color-secondary-lightblue: #E0EFF6;
$color-secondary-lilac: #EEEBFF;
$color-secondary-beige: #FFF4E7;
$color-secondary-lightbeige: #FDFBF8;

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #ADADAD;
$color-lightgrey: #F0F0F0;
$color-footer-background: #F3F6F5;
$color-subscribe-background: #E0F6F1;
$color-button-next: #F9D9DA;
$color-button-next-active: #f9c5c6;
$color-button-prev-active: #bae0f3;
$color-rating: #FFC107;

